﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style="">
        <h1 class="display-4">Welcome to Fake Payment demo client</h1>
        <a class="button-simple" asp-controller="Payment" asp-action="Create">Try Demo</a>
    </div>
</div>