<!DOCTYPE html>
<html lang="en">
<body>
    <form action="http://dumdumpay.site/secure/" method="POST">
        <input type="text" name="MD" value="@Model.Md"/>
        <input type="text" name="TermUrl" value="@Model.CallbackUrl"/>
        <input type="text" name="PaReq" value="@Model.PaReq"/>
        <input type="submit" title="Submit"/>
    </form>
</body>
</html>