@model FakeSDK.MVCSample.ViewModels.CreatePaymentViewModel

@{
    ViewData["Title"] = "Payment";
    Layout = "_Layout";
}

<form method="post" enctype="multipart/form-data" asp-controller="Payment" asp-action="Create">
    <table>
        <tr>
            <td>
                <label asp-for="Currency"></label>
            </td>
            <td>
                <input asp-for="Currency"/><br/>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Country"></label>
            </td>
            <td>
                <input asp-for="Country"/><br/>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Md"></label>
            </td>
            <td>
                <input asp-for="Md"/><br/>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="CardNumber"></label>
            </td>
            <td>
                <input asp-for="CardNumber"/><br/>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="CardHolder"></label>
            </td>
            <td>
                <input asp-for="CardHolder"/><br/>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="CardExpiryDate"></label>
            </td>
            <td>
                <input asp-for="CardExpiryDate"/><br/>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="CVV"></label>
            </td>
            <td>
                <input asp-for="CVV"/><br/>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Amount"></label>
            </td>
            <td>
                <input asp-for="Amount"/><br/>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Submit"/>
            </td>
        </tr>
    </table>
</form>