@model FakeSDK.MVCSample.ViewModels.ConfirmPaymentViewModel

@{
    ViewData["Title"] = "Payment";
    Layout = "_Layout";
}

<form action="http://dumdumpay.site/secure/" method="POST">
    <table>
        <tr>
            <td>
                <label asp-for="Md"></label>
            </td>
            <td>
                <input asp-for="Md"/><br/>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="PaReq"></label>
            </td>
            <td>
                <input asp-for="PaReq"/><br/>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="TermUrl"></label>
            </td>
            <td>
                <input asp-for="TermUrl"/><br/>
            </td>
        </tr>
    </table>
    <input type="submit" title="Submit"/>
</form>