@model FakeSDK.Models.PaymentInfo;

@{
    ViewData["Title"] = "Payment";
    Layout = "_Layout";
}
<table>
    <tr>
        <td>
            <label asp-for="TransactionId" disabled></label>
        </td>
        <td>
            <input asp-for="TransactionId" disabled/><br/>
        </td>
    </tr>
    <tr>
        <td>
            <label asp-for="Status" disabled></label>
        </td>
        <td>
            <input asp-for="Status" disabled/><br/>
        </td>
    </tr>
    <tr>
        <td>
            <label asp-for="Amount" disabled></label>
        </td>
        <td>
            <input asp-for="Amount" disabled/><br/>
        </td>
    </tr>
    <tr>
        <td>
            <label asp-for="Currency" disabled></label>
        </td>
        <td>
            <input asp-for="Currency" disabled/><br/>
        </td>
    </tr>
    <tr>
        <td>
            <label asp-for="OrderId" disabled></label>
        </td>
        <td>
            <input asp-for="OrderId" disabled/><br/>
        </td>
    </tr>
    <tr>
        <td>
            <label asp-for="LastFourDigits" disabled></label>
        </td>
        <td>
            <input asp-for="LastFourDigits" disabled/><br/>
        </td>
    </tr>
</table>